

.title{

  font-size: 200%;
  font-family: 'Work Sans', sans-serif;
  padding: 10px;
  width: 100%;
  text-align: center;
  background: #e7e7e7;
  color: #1a1d29;
  margin:0 50px 0 -10px;
}

.header a{

  color:white;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  color: #1a1d29;
  position:relative;

}

ul{
  padding: 30px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  color:#1a1d29;
  background-color:#e7e7e7;
  background-size: contain;
  list-style:none;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  font-size: 20px;
  position:relative;

}

.header a:hover{
  background-color: #1a1d29;
  color: #e7e7e7;
  padding:30px 5px 30px 5px;
  margin:auto;
  position:relative;

}
.header
{
  margin:0 50px 0 -20px;
  padding-left:0;
  padding-right: 0;

}




* {
  box-sizing: border-box;
}

body {
  background-color: #e7e7e7;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1{
  font-size: 200%;
  font-family: 'Work Sans', sans-serif;
  padding: 10px;
  width: 100%;
  color: #1a1d29;
  margin:0 50px 0 -10px;
  word-break: break-all;
}

p{
  font-size: 125%;
  font-family: 'Work Sans', sans-serif;
  padding: 10px;
  width: 100%;
  color: #1a1d29;
  margin:0 50px 0 -10px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.footer
{

  background-color: #e7e7e7;
}
.footer img
{
  height:100px;
  padding-left: 47%;
}